body {
	font-family: "helvetica"
}

h4 span {
	font-size:14px;
	font-weight:normal;
}

h2 {
	float: right;
	text-align: center;
}

h2 span {
	font-size:14px;
	font-weight:normal;
}

h1 {
	color: #2b5e8c;
	text-align: center;
}

#mapid {
	width: 650px;
	height: 450px;
}
